# ignores following folders
bin/
build/
out/
CMakeFiles
root_directory.h
cmake_install.cmake
CMakeCache.txt
Makefile
.vscode
*.vcxproj*
*.sln
.vs
/0.*
/1.*
/2.*
/3.*
/4.*
/5.*
/6.*
/7.*
/8.*
/9.*
/Debug
/Release
/GLAD.dir
/STB_IMAGE.dir
/x64